<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/world.js"></script>

</head>
<body>
    <div id="ae305cf8f3e84a26877b1a2bc0a24063" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_ae305cf8f3e84a26877b1a2bc0a24063 = echarts.init(
            document.getElementById('ae305cf8f3e84a26877b1a2bc0a24063'), 'white', {renderer: 'canvas'});
        var option_ae305cf8f3e84a26877b1a2bc0a24063 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u5168\u7403\u75ab\u60c5\n\u66f4\u65b0\u4e8e2020\u5e7405\u670828\u65e5",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "mapType": "world",
            "data": [
                {
                    "name": "United States",
                    "value": 1728954
                },
                {
                    "name": "Brazil",
                    "value": 391222
                },
                {
                    "name": "Russia",
                    "value": 370680
                },
                {
                    "name": "Spain",
                    "value": 283339
                },
                {
                    "name": "United Kingdom",
                    "value": 266599
                },
                {
                    "name": "Italy",
                    "value": 230555
                },
                {
                    "name": "France",
                    "value": 182847
                },
                {
                    "name": "Germany",
                    "value": 181524
                },
                {
                    "name": "Turkey",
                    "value": 158762
                },
                {
                    "name": "India",
                    "value": 153304
                },
                {
                    "name": "Iran",
                    "value": 141591
                },
                {
                    "name": "Peru",
                    "value": 129751
                },
                {
                    "name": "Canada",
                    "value": 88093
                },
                {
                    "name": "Saudi Arabia",
                    "value": 78541
                },
                {
                    "name": "Chile",
                    "value": 77961
                },
                {
                    "name": "Mexico",
                    "value": 74560
                },
                {
                    "name": "Pakistan",
                    "value": 59151
                },
                {
                    "name": "Belgium",
                    "value": 57592
                },
                {
                    "name": "Qatar",
                    "value": 48947
                },
                {
                    "name": "Netherlands",
                    "value": 45970
                },
                {
                    "name": "Belarus",
                    "value": 38956
                },
                {
                    "value": 38292
                },
                {
                    "name": "Ecuador",
                    "value": 37355
                },
                {
                    "name": "Sweden",
                    "value": 35088
                },
                {
                    "name": "Singapore",
                    "value": 32876
                },
                {
                    "name": "Portugal",
                    "value": 31292
                },
                {
                    "name": "United Arab Emirates",
                    "value": 31086
                },
                {
                    "name": "Switzerland",
                    "value": 30776
                },
                {
                    "name": "Ireland",
                    "value": 24735
                },
                {
                    "name": "South Africa",
                    "value": 24264
                },
                {
                    "value": 23851
                },
                {
                    "name": "Kuwait",
                    "value": 23267
                },
                {
                    "name": "Colombia",
                    "value": 23003
                },
                {
                    "name": "Poland",
                    "value": 22303
                },
                {
                    "name": "Ukraine",
                    "value": 21905
                },
                {
                    "name": "Egypt",
                    "value": 18756
                },
                {
                    "name": "Romania",
                    "value": 18594
                },
                {
                    "name": "Israel",
                    "value": 16771
                },
                {
                    "name": "Japan",
                    "value": 16623
                },
                {
                    "name": "Austria",
                    "value": 16557
                },
                {
                    "name": "Dominica",
                    "value": 15264
                },
                {
                    "name": "Philippines",
                    "value": 15049
                },
                {
                    "name": "Argentina",
                    "value": 13228
                },
                {
                    "name": "Afghanistan",
                    "value": 12456
                },
                {
                    "name": "Denmark",
                    "value": 11679
                },
                {
                    "name": "Panama",
                    "value": 11447
                },
                {
                    "name": "Republic of Serbia",
                    "value": 11275
                },
                {
                    "name": "Korea",
                    "value": 11265
                },
                {
                    "name": "Bahrain",
                    "value": 9633
                },
                {
                    "name": "Kazakhstan",
                    "value": 9304
                },
                {
                    "value": 9052
                },
                {
                    "name": "Algeria",
                    "value": 8697
                },
                {
                    "name": "Norway",
                    "value": 8383
                },
                {
                    "name": "Oman",
                    "value": 8373
                },
                {
                    "name": "Nigeria",
                    "value": 8344
                },
                {
                    "name": "Armenia",
                    "value": 7774
                },
                {
                    "name": "Malaysia",
                    "value": 7619
                },
                {
                    "name": "Morocco",
                    "value": 7584
                },
                {
                    "name": "Moldova",
                    "value": 7305
                },
                {
                    "name": "Australia",
                    "value": 7139
                },
                {
                    "name": "Bolivia",
                    "value": 7136
                },
                {
                    "name": "Ghana",
                    "value": 7117
                },
                {
                    "name": "Finland",
                    "value": 6692
                },
                {
                    "name": "Cameroon",
                    "value": 5436
                },
                {
                    "name": "Iraq",
                    "value": 4848
                },
                {
                    "name": "Azerbaijan",
                    "value": 4403
                },
                {
                    "name": "Honduras",
                    "value": 4401
                },
                {
                    "name": "Sudan",
                    "value": 4146
                },
                {
                    "name": "Luxembourg",
                    "value": 3995
                },
                {
                    "name": "Guatemala",
                    "value": 3954
                },
                {
                    "name": "Hungary",
                    "value": 3793
                },
                {
                    "name": "Tajikistan",
                    "value": 3424
                },
                {
                    "name": "Uzbekistan",
                    "value": 3355
                },
                {
                    "name": "Guinea",
                    "value": 3275
                },
                {
                    "name": "Senegal",
                    "value": 3253
                },
                {
                    "name": "Thailand",
                    "value": 3054
                },
                {
                    "name": "Greece",
                    "value": 2892
                },
                {
                    "value": 2546
                },
                {
                    "name": "Ivory Coast",
                    "value": 2477
                },
                {
                    "name": "Djibouti",
                    "value": 2468
                },
                {
                    "name": "Bulgaria",
                    "value": 2460
                },
                {
                    "value": 2435
                },
                {
                    "name": "Croatia",
                    "value": 2244
                },
                {
                    "name": "Gabon",
                    "value": 2238
                },
                {
                    "name": "El Salvador",
                    "value": 2109
                },
                {
                    "value": 2039
                },
                {
                    "name": "Cuba",
                    "value": 1963
                },
                {
                    "name": "Estonia",
                    "value": 1840
                },
                {
                    "name": "Iceland",
                    "value": 1805
                },
                {
                    "name": "Somalia",
                    "value": 1711
                },
                {
                    "name": "Lithuania",
                    "value": 1647
                },
                {
                    "name": "Kyrgyzstan",
                    "value": 1520
                },
                {
                    "name": "Slovakia",
                    "value": 1515
                },
                {
                    "name": "New Zealand",
                    "value": 1504
                },
                {
                    "name": "Slovenia",
                    "value": 1471
                },
                {
                    "name": "Kenya",
                    "value": 1471
                },
                {
                    "name": "Maldives",
                    "value": 1457
                },
                {
                    "name": "Sri Lanka",
                    "value": 1319
                },
                {
                    "name": "Venezuela",
                    "value": 1211
                },
                {
                    "name": "Guinea Bissau",
                    "value": 1178
                },
                {
                    "name": "Haiti",
                    "value": 1174
                },
                {
                    "name": "Lebanon",
                    "value": 1161
                },
                {
                    "name": "Mali",
                    "value": 1077
                },
                {
                    "name": "Latvia",
                    "value": 1057
                },
                {
                    "name": "Tunisia",
                    "value": 1051
                },
                {
                    "name": "Albania",
                    "value": 1050
                },
                {
                    "name": "Equatorial Guinea",
                    "value": 1043
                },
                {
                    "name": "Costa Rica",
                    "value": 956
                },
                {
                    "name": "Niger",
                    "value": 952
                },
                {
                    "name": "Cyprus",
                    "value": 939
                },
                {
                    "name": "Zambia",
                    "value": 920
                },
                {
                    "name": "Nepal",
                    "value": 886
                },
                {
                    "name": "Paraguay",
                    "value": 877
                },
                {
                    "name": "Burkina Faso",
                    "value": 845
                },
                {
                    "name": "Uruguay",
                    "value": 789
                },
                {
                    "name": "Sierra Leone",
                    "value": 782
                },
                {
                    "name": "Andorra",
                    "value": 763
                },
                {
                    "name": "Nicaragua",
                    "value": 759
                },
                {
                    "name": "Georgia",
                    "value": 735
                },
                {
                    "name": "Ethiopia",
                    "value": 731
                },
                {
                    "name": "Jordan",
                    "value": 718
                },
                {
                    "value": 712
                },
                {
                    "name": "Chad",
                    "value": 700
                },
                {
                    "name": "Central African Republic",
                    "value": 671
                },
                {
                    "name": "San Marino",
                    "value": 667
                },
                {
                    "name": "Madagascar",
                    "value": 612
                },
                {
                    "name": "Malta",
                    "value": 612
                },
                {
                    "name": "Jamaica",
                    "value": 564
                },
                {
                    "name": "United Republic of Tanzania",
                    "value": 509
                },
                {
                    "value": 487
                },
                {
                    "value": 434
                },
                {
                    "name": "Togo",
                    "value": 391
                },
                {
                    "name": "Cape Verde",
                    "value": 390
                },
                {
                    "name": "Rwanda",
                    "value": 339
                },
                {
                    "name": "Mauritius",
                    "value": 334
                },
                {
                    "name": "Vietnam",
                    "value": 327
                },
                {
                    "name": "Montenegro",
                    "value": 324
                },
                {
                    "name": "Mauritania",
                    "value": 268
                },
                {
                    "name": "Liberia",
                    "value": 266
                },
                {
                    "name": "Swaziland",
                    "value": 261
                },
                {
                    "name": "Uganda",
                    "value": 253
                },
                {
                    "name": "Yemen",
                    "value": 249
                },
                {
                    "name": "Mozambique",
                    "value": 213
                },
                {
                    "name": "Benin",
                    "value": 210
                },
                {
                    "name": "Myanmar",
                    "value": 206
                },
                {
                    "name": "Mongolia",
                    "value": 148
                },
                {
                    "name": "Brunei",
                    "value": 141
                },
                {
                    "name": "Guyana",
                    "value": 139
                },
                {
                    "name": "Cambodia",
                    "value": 124
                },
                {
                    "name": "Syria",
                    "value": 121
                },
                {
                    "value": 116
                },
                {
                    "name": "Malawi",
                    "value": 101
                },
                {
                    "name": "The Bahamas",
                    "value": 100
                },
                {
                    "name": "Monaco",
                    "value": 98
                },
                {
                    "name": "Barbados",
                    "value": 92
                },
                {
                    "name": "Comoros",
                    "value": 87
                },
                {
                    "value": 82
                },
                {
                    "name": "Libya",
                    "value": 77
                },
                {
                    "name": "Angola",
                    "value": 71
                },
                {
                    "name": "Zimbabwe",
                    "value": 56
                },
                {
                    "name": "Burundi",
                    "value": 42
                },
                {
                    "name": "Eritrea",
                    "value": 39
                },
                {
                    "value": 37
                },
                {
                    "name": "Botswana",
                    "value": 35
                },
                {
                    "name": "Bhutan",
                    "value": 27
                },
                {
                    "name": "Gambia",
                    "value": 25
                },
                {
                    "name": "Antigua and Barbuda",
                    "value": 25
                },
                {
                    "value": 24
                },
                {
                    "name": "Grenada",
                    "value": 23
                },
                {
                    "name": "Namibia",
                    "value": 22
                },
                {
                    "name": "Laos",
                    "value": 19
                },
                {
                    "value": 18
                },
                {
                    "name": "Fiji",
                    "value": 18
                },
                {
                    "name": "Belize",
                    "value": 18
                },
                {
                    "name": "St. Vincent and the Grenadines",
                    "value": 18
                },
                {
                    "value": 16
                },
                {
                    "value": 15
                },
                {
                    "value": 12
                },
                {
                    "name": "Suriname",
                    "value": 11
                },
                {
                    "name": "Seychelles",
                    "value": 11
                },
                {
                    "name": "Papua New Guinea",
                    "value": 8
                },
                {
                    "name": "Lesotho",
                    "value": 2
                }
            ],
            "roam": true,
            "zoom": 1,
            "showLegendSymbol": true,
            "emphasis": {},
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5168\u7403\u75ab\u60c5\n\u66f4\u65b0\u4e8e2020\u5e7405\u670828\u65e5"
            ],
            "selected": {
                "\u5168\u7403\u75ab\u60c5\n\u66f4\u65b0\u4e8e2020\u5e7405\u670828\u65e5": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 0,
        "max": 100,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0,
        "pieces": [
            {
                "max": 0
            },
            {
                "min": 1,
                "max": 99
            },
            {
                "min": 100,
                "max": 299
            },
            {
                "min": 300,
                "max": 499
            },
            {
                "min": 500,
                "max": 1999
            },
            {
                "min": 2000,
                "max": 4999
            },
            {
                "min": 5000,
                "max": 9999
            },
            {
                "min": 10000,
                "max": 99999
            },
            {
                "min": 100000,
                "max": 499999
            },
            {
                "min": 500000
            }
        ]
    }
};
        chart_ae305cf8f3e84a26877b1a2bc0a24063.setOption(option_ae305cf8f3e84a26877b1a2bc0a24063);
    </script>
</body>
</html>
